.hamburger-icon {
	z-index: 60;
}

.hamburger-bar span,
.hamburger-bar::before,
.hamburger-bar::after {
	content: '';
	display: block;
	position: relative;
	height: 0.25rem;
	width: 2rem;
	background-color: black;
	z-index: 60;
	margin: 0 auto;
}
/*
.hamburger-bar span {
	top: 50%;
}
*/

.hamburger-bar::before {
	margin-bottom: 5px;
}

.hamburger-bar::after {
	margin-top: 5px;
}

.menu-list {
	position: fixed;
	right: 0;
	top: 0;
	width: 80%;
	background-color: #fff;
}