:root {
	--slide-size: 70vw;
	--section-font-size: min(35px, 3.5vw);
	--content-font-size: max(15px, min(20px, 2.0vw));
}

/* トップの写真 */
.scroll-allow {
	width: 100%;
	height: 30px;
	position: absolute;
	display: flex;
	justify-content: center;
	animation: move-allow 2s infinite;
}

@keyframes move-allow {
	0% {
		top: calc(var(--slide-size) - 4vw);
	}
	50% {
		top: calc(var(--slide-size) - 2vw);
	}
	100% {
		top: calc(var(--slide-size) - 4vw);
	}
}

.scroll-allow::before,
.scroll-allow::after {
	content: '';
	background-color: #000;
	margin: 0 -0.8vw;
	height: 0.75vw;
	width: 4vw;
	z-index: 1;
}

.scroll-allow::before {
	transform:rotate(45deg);
}

.scroll-allow::after {
	transform:rotate(-45deg);
}


/* メインの内容 */
.main-contents {
	border-top: #000 solid 4px;
}

.news {
	margin: 8vw;
	margin-bottom: 15vw;
	height: max(20vw, 200px);
	border-radius: 5px;
}

.news h2 {
	margin: 0 2vw;
	padding: 1vw;
	font-size: var(--section-font-size);
}

.news-topics {
	width: 100%;
	height: 90%;
	border-top: 0.1rem solid black;
	padding: 1vw 4vw;
	font-size: var(--content-font-size);
	overflow-x: hidden;
	overflow-y: hidden;
}

.to-news-list {
	display: block;
	text-align: right;
}

.about-us {
	margin: 0 4vw;
	padding: 0 2vw;
	border: #00eeff double 4px;
	border-radius: 5px;
}

.about-us h2 {
	display: inline-block;
	position: relative;
	font-size: var(--section-font-size);
	padding: 0 2vw;
	background-color: #fff;
	top: -2vw;
}

.about-us p {
	font-size: var(--content-font-size);
	padding-left: 4vw;
	padding-bottom: 2vw;
}